@using System.Text.Json
@using MyMVCProject.Api.Dtos
@using MyMVCProject.Web.Views.Utils
@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutDashboard";
    var jsonOptions = new JsonSerializerOptions
    {
        PropertyNamingPolicy = JsonNamingPolicy.CamelCase
    };
}


@{ await Html.RenderPartialAsync("_LibraryView"); }

<hr class="border-neutral-400"/>
<div id="library-content">
    <div class="row g-2">
        @for (var i = 0; i < 3; i++)
        {
            var json = JsonSerializer.Serialize(new
            {
                id = Guid.NewGuid(),
                createdAt = DateTime.UtcNow,
                name = "Titulo",
                encryptedKey = new EncryptedData("123", "456"), 
                keyEncryptedByRoot = new EncryptedData("123", "456"),
                size = 123444223,
                storageKey = "http://localhost"
            }, jsonOptions);
            <div class="col-4">
                @* <div class="file-card d-flex align-items-start gap-2 bg-purple-200 rounded-2"> *@
                @*     <div class="icon bg-purple-600 text-purple-100 rounded-circle d-flex align-items-center justify-content-center"> *@
                @*         <i data-lucide="file-spreadsheet" width="18" height="18"></i> *@
                @*     </div> *@
                @*     <div> *@
                @*         <span class="title">Título</span> *@
                @*         <span class="date d-block">@DateTime.UtcNow</span> *@
                @*     </div> *@
                @*     <span class="size ms-auto">@Utils.FormatFileSize(45623678)</span> *@
                @* </div> *@
                <item-component data-content="@json"></item-component>
            </div>
        }
        @for (var i = 0; i < 3; i++)
        {
            var json = JsonSerializer.Serialize(new
            {
                id = Guid.NewGuid(),
                createdAt = DateTime.UtcNow,
                name = "Titulo",
                encryptedKey = new EncryptedData("123", "456"), 
                keyEncryptedByRoot = new EncryptedData("123", "456")
            }, jsonOptions);
            <div class="col-4">
                @* <div class="folder-card d-flex align-items-start gap-2 bg-yellow-100 rounded-2"> *@
                @*     <div class="icon bg-yellow-500 text-yellow-100 rounded-circle d-flex align-items-center justify-content-center"> *@
                @*         <i data-lucide="folder-closed" width="18" height="18"></i> *@
                @*     </div> *@
                @*     <div> *@
                @*         <span class="title">Título</span> *@
                @*         <span class="date d-block">@DateTime.UtcNow</span> *@
                @*     </div> *@
                @*     <i data-lucide="external-link" class="ms-auto text-yellow-900"></i> *@
                @*      *@
                @* </div> *@
                <item-component data-content="@json"></item-component>
            </div>
        }
        
    </div>
</div>
